html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #191919;
}
a {
  text-decoration: none;
} 
ul, li {
  text-decoration: none;
}
.compoHeightLarge {
  min-height: 950px;
}
.aboutHeight {
  min-height: 705px;
}
.certificateHeight {
  min-height: 725px;
}
.educationHeight {
  min-height: 1450px;
}
.serviceHeight {
  min-height: 1020px;
}
.skillsHeight {
  min-height: 960px;
}
.portfolioHeight {
  min-height: 1310px;
}
.portfolioHeight {
  min-height: 1090px;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.introSubWidth {
  max-width: 526px;
}
.hourlyWidth {
  width: 350px;
  min-height: 699px;
  border: 1px solid #484848;
  border-radius: 30px;
  /* padding: 25px; */
}

/* ==================== Fonts CSS Style ============================
====================================================================*/
.introFontTitle {
  color: #FFF;
  font-size: 78px;
  font-style: normal;
  font-weight: 300;
  line-height: 90px; /* 115.385% */
  letter-spacing: -0.2px;
}
.font72 {
  font-size: 72px;
  font-style: normal;
  font-weight: 300;
  line-height: 56px; /* 77.778% */
  letter-spacing: -0.2px;
}
.font48 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}
.font48Color {
  opacity: 0.7752;
  color: #FF693B;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}
.nameFont {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 72.887px;
}
.font24White {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px;
}
/* .font24c999 {
  color: #999;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px;
} */
.locationFont {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px;
}
.font20White {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px;
}
.font20E6 {
  color: #E6E6E6;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}
.font18White {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 21.6px;
}
.font16 {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px; /* 170% */
}
.font16c999 {
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px; /* 170% */
}
.designationFont {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.8px;
}
.font14c999 {
  color: #999;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.font13c999 {
  color: #999;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 22.1px; /* 170% */
}
.font13White {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 170% */
}
.sectionTitleFont {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14.4px; /* 120% */
  text-transform: uppercase;
  padding: 9.3px 20.692px 10.7px 21px;
  border-radius: 30px;
  border: 1px solid #565656;
  opacity: 0.8531;
}

/* ==================== Color CSS Style ============================
====================================================================*/
.colorText {
  color: #FF693B;
}

/* ==================== Button CSS Style ============================
====================================================================*/
.hireButton {
  border-radius: 40px;
  background: #661CB0;
  padding: 10px 60px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px; /* 170% */
  text-transform: uppercase;
  border: none;
}
.resumeBtn {
  border-radius: 30px;
  border: 1px solid #868686;
  padding: 15px 100px;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #673AB7;
  color: #fff;
  font-size: 16px;
  position: relative;
  /* animation: spin 5s infinite linear; */
}

.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* ==================== Section CSS Style ============================
====================================================================*/
/*======================= Header Section ===========================*/

.nav-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px 20px;
  text-align: center;
}
.nav-link {
  color: white !important;
  cursor: pointer;
}
/*===================== Background Logo Section =========================*/
.backgroundLogo {
  background-image: url("/images/content/backgroundLogo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
/*======================= Name Card Section ===========================*/
/* styles.css */
.timeline-container {
  position: relative;
  margin-left: 0px; /* Adjust the left margin based on your design */
}

.timeline-event {
  position: relative;
  padding: 20px 0px 0px 20px;
  border-left: 2px solid #333;
  margin-top: -20px;
}

.timeline-date {
  font-size: 14px;
  font-weight: bold;
  color: #333; /* Adjust the color of the date */
}

.timeline-content {
  margin-left: 20px; /* Adjust the left margin for the event content */
}

/* Additional styling for better visuals */
.timeline-event:last-child {
  margin-bottom: 0;
}

.timeline-event:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -11px;
  width: 20px;
  height: 20px;
  /* opacity: 0.7752; */
  background: #551C8F;
  border: 2px solid #333;
  border-radius: 50%;
}
/*======================= Name Card Section ===========================*/

.leftCard {
  max-width: 400px;
  height: 765px;
  border-radius: 30px;
  border: 1px solid #565656;
}
.profilePhoto {
  text-align: center;
  background: white;
  border-radius: 30px;
  display: flex;
  width: 298px;
  height: 251.91px;
  padding: 30.41px 53px 29.5px 53px;
  justify-content: center;
  align-items: center;
}
.socialIcon {
  color: #999;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid #999;
  border-radius: 100%;
  padding: 10px;

}
/* ====================== Sevice Section ====================== */
.serviceBody {
  border-radius: 20px;
  border: 1px solid #565656;
  opacity: 0.7752;
  padding: 50px;
  margin-bottom: 15px;
}
/* ====================== Skills Section ====================== */
.skillsBorder {
  border-radius: 85px;
  border: 2px solid #565656;
  opacity: 0.7752;
  animation: borderMove 2s linear;
  padding: 50px;
}
.counterContainer {
  position: relative;
}

.counter {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  /* position: absolute;
  width: 10%;
  height: 10%; */
  color: #FD683B;
  align-items: center;
  justify-content: center;
   /* Use the same duration as animationDuration in JavaScript */
}

@keyframes borderMove {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.portfolioContentWidth {
  width: 31%;
}
/* ====================== Team Section ====================== */
.teamBorder {
  width: 320px;
  height: 286px;
  border-radius: 20px;
  border: 1px solid #484848;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamImageBody {
  width: 275px;
  height: 250px;
  border-radius: 20px;
  background: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.memberImage {
  border-radius: 50% !important;
}
/* ================ Responsive Design CSS Style ====================
====================================================================*/

/* Extra large devices (extra large desktops) */
@media (min-width: 1200px) {
  
}

/* Large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  
}

/* Medium devices (laptops, desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
 
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  
}