html, body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #191919;
}
:root {
  --swiper-theme-color: #fff !important;
}
a {
  text-decoration: none;
} 
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul, li {
  text-decoration: none;
}
.rightBorder {
  height: 41px !important;
  border: 3px solid white;
}
.resumeIcon {
  color: white;
  font-size: 18px;
  padding: 10px;
  border: 2px solid #242424;
  border-radius: 10px;
}
.alignCenter {
  display: flex;
  align-items: center;
}
.introSubWidth {
  max-width: 526px;
}
.hourlyWidth {
  width: 48%;
  min-height: 699px;
  border: 1px solid #484848;
  border-radius: 30px;
  padding: 35px;
  margin-bottom: 30px;
  position: relative;
}
.BookingButton {
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
}
.weekly {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #661CB0;
  border-radius: 60px;
}
.weekly:hover {
  background-color: transparent;
  border: 1px solid white;
  transition: 1s ease-in-out;
}
.monthly {
  width: 140px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 60px;
  border: 1px solid white;
}
.monthly:hover {
  border: none;
  background-color: #661CB0;
  transition: 1s ease-in-out;
}
.profile {
  width: 30%;
  height: 100%;
  overflow-y: auto;
  transition: top 0.3s;
}
.profileImage {
  border-radius: 100% !important;
}
.iconWidth {
  width: 75%;
}
.fixed {
  position: fixed;
  top: 11%;
}
.loading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Rotate Text  */
.subsItems {
  background-color: rgba(30, 30, 30, 1);
  border-radius: 100%;
  height: 210px;
  width: 210px;
  padding: 5px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.arrowIcon {
  color: white;
  font-size: 19px;
}
.SubsIcon {
  background-color: rgba(102, 28, 176, 1);
  padding: 15px 18px 12px 18px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}
.subsImage {
  animation: spin 6s infinite linear !important;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ==================== Fonts CSS Style ============================
====================================================================*/
.introFontTitle {
  color: #FFF;
  font-size: 78px;
  font-style: normal;
  font-weight: 300;
  line-height: 90px;
  letter-spacing: -0.2px;
}
.font72 {
  font-size: 72px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: -0.2px;
}
.font48 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}
.font48Color {
  opacity: 0.7752;
  color: #FF693B;
  font-size: 48px;
  font-style: normal;
  font-weight: 300;
  line-height: 60px;
}
.nameFont {
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 72.887px;
}
.font24White {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px;
}
.locationFont {
  color: #FFF;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px;
}
.font20White {
  color: #FFF;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px;
}
.font20E6 {
  color: #E6E6E6;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 28.8px;
}
.font18White {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 21.6px;
}
.font16 {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px;
}
.font16c999 {
  color: #999;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px;
}
.font14White {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.designationFont {
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}
.font14c999 {
  color: #999;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.font13c999 {
  color: #999;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
}
.font13White {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
.font12White {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.4px;
}
.sectionTitleFont {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: 14.4px;
  text-transform: uppercase;
  padding: 0 0 0 5px;
  padding: 13px 21px 10px 21px;
  border-radius: 30px;
  border: 1px solid #565656;
  opacity: 0.8531;
}
.protfolioText {
  font-size: 24px;
  color: white;
  font-weight: 700;
}
.mailTextTitle {
  font-size: 24px;
  color: #2a2a2a;
  font-weight: 700;
}
.mailTextBody {
  font-size: 24px;
  color: #2a2a2a;
  font-weight: 700;
}

/* ==================== Color CSS Style ============================
====================================================================*/
.colorText {
  color: #FF693B;
}
.colorTextPurple {
  color: #AF5FFF;
}
.colorText999 {
  color: #999;
}
.purpleColor {
  color: #661CB0;
}

/* ==================== Button CSS Style ============================
====================================================================*/
.hireButton {
  border-radius: 40px;
  background: #661CB0;
  padding: 10px 60px;
  color: #FFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27.2px; /* 170% */
  text-transform: uppercase;
  border: none;
}
.hireButton:hover {
  color: var(--Gray-700, #344054);
  background: #D9D9D9;
  transition: all 0.5s ease-in-out ;
}
.resumeBtn {
  border-radius: 30px;
  border: 1px solid #868686;
  padding: 15px 100px;
  color: white;
}
.resumeBtn:hover {
  background: #661CB0;
  color: white;
  transition: all 0.5s ease-in-out ;
}


.btnMessage {
  border-radius: 32px;
  background: #661CB0;
  padding: 15px 50px;
  border: none;
}
.btnMessage:hover {
  background: #D9D9D9;
  color: var(--Gray-700, #344054);
  transition: all 0.5s ease-in-out ;
}
.btnMessageSpin {
  border-radius: 32px;
  background: #661CB0;
  padding: 2px 38px;
  border: none;
}
.subscribeBtn {
  border-radius: 60px;
  background: #D9D9D9;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  padding: 12px 20px;
  border: none;
  color: var(--Gray-700, #344054);
  font-size: 16px;
  line-height: 24px;
}
.subscribeBtn:hover {
  border-radius: 60px;
  background: #661CB0;
  color: white;
  transition: all 0.5s ease-in-out ;
}

.gotoTop {
  position: fixed;
  bottom: 1%;
  right: 1%;
  background: transparent;
  border: none;
}
.gotoTopIcon {
  font-size: 20px;
  color: white;
  font-weight: 700;
  border: 1px solid white;
  padding: 12px 15px;
  border-radius: 100%;
}
/* ==================== Section CSS Style ============================
====================================================================*/
/*======================= Header Section ===========================*/

.nav-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0px 12px;
  text-align: center;
}
.nav-link {
  color: white !important;
  cursor: pointer;
}
/*===================== Background Logo Section =========================*/
.backgroundLogo {
  background-image: url("/images/content/backgroundLogo.png");
  background-repeat: no-repeat;
  background-position: left;
}
.skillBackground {
  background-image: url("/images/content/myAdvantage.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}
/*======================= Name Card Section ===========================*/
/* styles.css */
.timeline-container {
  position: relative;
  margin-left: 0px;
}

/* .timeline-event {
  position: relative;
  padding: 20px 0px 0px 20px;
  border-left: 2px solid #333;
  margin-top: -20px;
} */
.timeline-event {
  border: 1px solid #242424;
  border-radius: 20px;
}

.timeline-date {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

.timeline-content {
  margin-left: 20px;
}

/* Additional styling for better visuals */
/* .timeline-event:last-child {
  margin-bottom: 0;
}

.timeline-event:before {
  content: '';
  position: absolute;
  top: -5px;
  left: -11px;
  width: 20px;
  height: 20px;
  background: #551C8F;
  border: 2px solid #333;
  border-radius: 50%;
} */
/*======================= Name Card Section ===========================*/

.leftCard {
  max-width: 400px;
  height: 720px;
  border-radius: 30px;
  border: 1px solid #565656;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.profilePhoto {
  background: #200639;
  border-radius: 30px;
  display: flex;
  width: 298px;
  height: 251.91px;
  justify-content: center;
  align-items: center;
}
.socialIcon {
  color: #999;
  font-size: 18px;
  border: 1px solid #999;
  border-radius: 40%;
  padding: 10px;
}
.socialIcon:hover {
  background-color: #671cb0;
  border: 1px solid white;
  color: white;
  transition: all 0.5s ease-in-out;
}
/* ====================== Sevice Section ====================== */
.serviceBody {
  border-radius: 20px;
  border: 1px solid #565656;
  opacity: 0.7752;
  padding: 50px;
  margin-bottom: 15px;
}
/* ====================== Skills Section ====================== */
.skillWidth {
  width: 30%;
}
.skillImage {
  max-width: 75% !important;
  min-width: 75% !important;
  margin: 0 !important;
}
.progress-bar {
  height: 100%;
  background-color: #007bff;
  transition: width 0.5s ease-in-out;
}
.skillsBorder {
  border-radius: 25px;
  border: 3px solid #565656;
  opacity: 0.7752;
  animation: borderMove 2s linear;
  padding: 50px;
}
.progress-container {
  position: relative;
  margin-left: 0px;
  width: 100%;
}

.progress-event {
  position: relative;
  padding: 10px 0px 0px 10px;
  background-color: #462015;
  border-radius: 10px;
}
.progress-event:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: #661CB0;
  border-radius: 50%;
}
.progress-event-after {
  content: '';
  position: absolute;
  top: -3px;
  width: 15px;
  height: 15px;
  background: #661CB0;
  border-radius: 50%;
}

.counterContainer {
  position: relative;
}

.counter {
  font-size: 30px;
  font-weight: 300;
  line-height: 36px;
  color: #FD683B;
  align-items: center;
  justify-content: center;
}

@keyframes borderMove {
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

.portfolioContentWidth {
  width: 31%;
}
.portfolioImage {
  border-radius: 10px;
}
/* ====================== Testimonial Section ====================== */
.testimonialItem {
  border-radius: 30px;
  border: 2px solid #565656;
  padding: 40px;
  cursor: move;
}

/* ====================== Team Section ====================== */
.teamBorder {
  width: 47%;
  height: 286px;
  border-radius: 20px;
  border: 1px solid #484848;
  display: flex;
  align-items: center;
  justify-content: center;
}
.teamImageBody {
  width: 75%;
  height: 220px;
  border-radius: 20px;
  background: #1E1E1E;
  display: flex;
  align-items: center;
  justify-content: center;
}
.memberImage {
  border-radius: 50% !important;
}
.form-label {
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.4px;
}
.form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #2F2F2F;
  color: white;
  padding: 0;
  margin: 0;
  padding-bottom: 5px ;
}
.form-control:focus {
  outline: none;
  background: transparent;
  box-shadow: none;
  border-color: #2F2F2F;
  color: white;
}
.form-control:placeholder {
  color: #565656;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.messageForm .form-control {
  border: 1px solid #2F2F2F;
  padding: 10px;
}

/* Reset default styles for file input */
.custom-file-input input {
  display: none;
}
.iconStyle {
  font-size: 18px;
  color: white;
  font-weight: 900;
  line-height: 18px;
  background: #252525;
  padding: 10px;
  border-radius: 50%;
}

/* Style the custom file input label */
.custom-file-input {
  cursor: pointer;
}
.footerContent {
  width: 80%;
  margin: 0px auto 50px;
}
.videoIntro {
  width: 100%;
  height: 320px;
}

/* ================ Responsive Design CSS Style ====================
====================================================================*/

/* Extra large devices (extra large desktops) */
@media (min-width: 1200px) {
  
}

/* Large devices (large desktops) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .footerContent {
    width: 60%;
  }
  .footerVideo {
    width: 75%;
  }
  .profile {
    width: 35%;
  }
  .introFontTitle {
    font-size: 52px;
    line-height: 70px;
  }
  .font72 {
    font-size: 40px;
    line-height: 30px;
  } 
  .font48 {
    font-size: 40px;
  }
  .resumeBtn {
    padding: 15px 80px;
  }
  .portfolioContentWidth {
    width: 46%;
  }
  .teamImageBody {
    width: 90%;
    height: 260px;
  }
  .hourlyWidth {
    padding: 15px;
  }
  .iconWidth {
    width: 35%;
  }
  .testimonialItem {
    border-radius: 30px;
    border: 2px solid #565656;
  }
  .subsItems {
    margin-top: -50px;
  }
  .skillWidth {
    width: 40%;
  }
}

/* Medium devices (laptops, desktops) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .footerContent {
    width: 76%;
  }
  .footerVideo {
    width: 100%;
  }
  .introFontTitle  {
    font-size: 66px;
  }
  .fixed {
    position: static;
  }
  .profile {
    margin-bottom: 25px;
    width: 60%;
  }
  .profile {
    margin: 0 auto;
  }
  .portfolioContentWidth {
    width: 30%;
  }
  .homeFlex {
    flex-direction: column-reverse;
  }
  .iconWidth {
    width: 50%;
  }
  .gotoTop {
    bottom: 0;
    right: 0;
  }
  .subsItems {
    margin-top: -80px;
  }
}

/* Small devices (tablets) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .footerContent {
    width: 100%;
  }
  .footerVideo {
    width: 100%;
  }
}

/* Extra small devices (phones) */
@media (max-width: 575.98px) {
  .footerContent {
    width: 100%;
  }
  .footerVideo {
    width: 100%;
  }
  .designationFont {
    font-size: 10px;
  }
  .introFontTitle  {
    font-size: 38px;
    line-height: 50px;
  }
  .font72 {
    font-size: 32px;
    line-height: 20px;
  }
  .font48  {
    font-size: 28px;
    line-height: 40px;
  }
  .font24White {
    font-size: 16px;
    line-height: 24px;
  }
  .fixed {
    position: static;
  }
  .homeFlex {
    flex-direction: column-reverse;
  }
  .profile {
    width: 100%;
    margin-bottom: 25px;
    margin: 0 auto;
  }
  .rightBorder {
    border: 1px solid white;
  }
  .resumeBtn {
    padding: 15px 45px;
  }
  .serviceBody  {
    padding: 15px;
  }
  .skillsBorder  {
    padding: 45px;
  }
  .skillsBorder {
    padding: 20px;
  }
  .portfolioContentWidth {
    width: 100%;
  }
  .hourlyWidth {
    width: 100%;
  }
  .skillWidth {
    width: 45%;
  }
  .teamBorder {
    width: 100%;
  }
  .iconWidth {
    width: 100%;
  }
  .testimonialItem {
    padding: 20px;
  }
  .footerHeight {
    margin-top: 75px;
  }
  .gotoTopIcon {
    font-size: 12px;
    padding: 3px 4px;
  }
  .subsItems {
    width: 160px;
    height: 160px;
    margin-top: -80px;
  }
}